*{
    box-sizing: border-box;
}

body{
    background-color: #303056;
}
header{
    display: flex;
    justify-content: center;
}

h1{
    color: #fff;
    font-size: 40px;
}

.bandeiras{
    width: 50%;
    height: 720px;
    border-color: black;
    overflow-y: auto;
    flex: 2;
    background-color: #282841;
    color: #fff;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 20px;
    padding: 30px;
}
main{
    display: flex;
}

.text{
    width: 50%;
    height: 720px;
    overflow-y: auto;
    background-color: #282841;
    color: #fff;
    padding: 10px;
}